<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Individual Post</title>
  </head>
  <body>
    <h1>Individual Post</h1>
    <div>
      <h3>Name: <%= @post.name %></h3><br>
      <h3>Content: <%= @post.content %></h3><br>
    </div>
    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
